<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Logs</title>
    <link rel="stylesheet" href="stylesheets/login-attempts.css">
    
</head>
<body>
    <div id="header-container"></div>
    <script>
        // Fetch and insert the header using JavaScript
        fetch('header.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('header-container').innerHTML = html;
            });
    </script>
    <h1>Attendance Logs</h1>
    

    <form action="/login-attempts" method="GET">
        <h2 style="font-size: 20px; margin-bottom: 15px; margin-top: 0px;">Filter Records</h2>
        <label for="user_id">Student Name</label>
        <input type="text" id="user_id" name="user_id" placeholder="First Last" value="<%= user_id %>">
  
        <label for="user_class">Class:</label>
        <select id="user_class" name="user_class" value="<%= user_class %>">
            <option value=""></option>
            <% classes.forEach(function(thing) { %>
                <option value="<%= thing.className %>"><%= thing.className %></option>
            <% }); %>
        </select>
        <br>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" value="<%= startDate %>">
        
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" value="<%= endDate %>">
  
        <button type="submit">Filter</button>
        <button type="button" onclick="clearFilters()">Clear Filters</button>
    </form>
    <% if (loginAttempts.length > 0) { %>
        <table id="login-table">
            <tr>
                <th>Class</th>
                <th>Student</th>
                <th>Login Time</th>
            </tr>
            <% loginAttempts.reverse().forEach(attempt => { %>
                <tr>
                    <td><%= attempt.class %></td>
                    <td><a href="/user/<%= attempt.firstName %>/<%= attempt.lastName %>"><%= attempt.firstName %> <%= attempt.lastName %></a></td>
                    <td><%= attempt.login_time %></td>
                </tr>
            <% }); %>
        </table>
    <% } else { %>
        <p>No entries match current filters.</p>
    <% } %>

    <script>
        function clearFilters() {
          document.getElementById('user_id').value = '';
          document.getElementById('user_class').value = '';
          document.getElementById('startDate').value = '';
          document.getElementById('endDate').value = '';
          document.forms[0].submit(); // Submit the form after clearing filters
        }
        function get_time(time){
            return new Date(time).toLocaleString()
        }
        let table = document.getElementById('login-table')
        if (table){
            for (let i = 1; i < table.rows.length; i++) {
                let row = table.rows[i];
                let cell = row.cells[row.cells.length - 1];
                cell.innerHTML = get_time(cell.innerHTML)
            }
        }
    </script>  
</body>
</html>
