<!DOCTYPE html>
<html>
    <head>
        <title>Classes</title>
        <link rel="stylesheet" href="stylesheets/classes.css" />
    </head>
    <body>
        <div id="header-container"></div>
        <script>
            fetch("header.html")
                .then((response) => response.text())
                .then((html) => {
                    document.getElementById("header-container").innerHTML =
                        html;
                });
        </script>
        <h1>All Classes</h1>
        <div class="container">
            <% [[registeredClasses, 'Closed Enrollment'], [unregisteredClasses,
            'Open Enrollment']].forEach((classStuff) => { const [classes, name]
            = classStuff %>
            <div class="table-container">
                <h2><%= name %></h2>
                <% if (classes.length > 0) { %>
                <table class="class-table">
                    <thead>
                        <tr>
                            <th>Class Name</th>
                            <th>Archive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% classes.forEach(function(classItem) { %>
                        <tr>
                            <td>
                                <span id="className_<%= classItem.id %>"
                                    ><a href="/class/<%= classItem.className %>"
                                        ><%= classItem.className %></a
                                    ></span
                                >
                            </td>
                            <td>
                                <form
                                    action="/archiveclass"
                                    method="post"
                                    onsubmit="return confirmArchive();"
                                >
                                    <input
                                        type="hidden"
                                        name="className"
                                        value="<%= classItem.className %>"
                                    />
                                    <button type="submit" class="delete-button">
                                        Archive
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                <p>No <%= name %> Classes.</p>
                <% } %>
            </div>
            <% }) %>
        </div>

        <div class="form-container">
            <form class="add-class" method="post" action="/add-class">
                <h3 id="noMargin">Add New Class</h3>
                <label for="className">Class Name:</label>
                <input type="text" id="className" name="className" required />
                <br />
                <label for="registered">Enrollment:</label>
                <select id="registered" name="registered" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="true">Closed Enrollment</option>
                    <option value="false">Open Enrollment</option>
                </select>
                <br />
                <button type="submit">Add Class</button>
            </form>
        </div>
        <br />
        <button
            id="archived-classes-button"
            onclick="window.location.href = '/archived-classes'"
        >
            View Archived Classes
        </button>
    </body>
    <script>
        function confirmArchive() {
            return confirm("Are you sure you want to archive this class?");
        }
    </script>
</html>
